<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Developer, Astronomer and Trekker from India.">
  {% include "head.html" %}
</head>
<body>
  <div class="content hero hero-page">
    {% include "navbar.html" %}

    <div class="helloWorld">
      <div class="hello hello-page">
        Hello, World!
      </div>
    </div>
  </div>

  {% include "description.html" %}
  {% include "footer.html" %}
</body>
</html>
