<!DOCTYPE html>
<html lang="en">
<head>
  <title>@siva{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="@siva" />
  <meta property="og:url" content="https://sivasubramanyam.me/{{ page.path }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="description" content="{{ page.description }}" />
  {% include "head.html" %}
  {% if page.code %}
    {% compress 'css' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='js/highlight/styles/github-gist.css') }}"  type="text/css">
    {% endcompress %}
    <script src="{{ url_for('static', filename='js/highlight/highlight.pack.js') }}"></script>
  {% endif %}
</head>
<body>
  <div class="content hero hero-post">
    {% include "navbar.html" %}
    <div class="helloWorld">
      <div class="hello hello-post">
        {{ page.title }}
      </div>
    </div>
  </div>

  <main role="main">
    <div class="container posts">
      <div class="content">
        {% block content %}
          <p>Default content to be displayed</p>
        {% endblock content %}
      </div>
    </div>
  </main>

  {% include "footer.html" %}

  {% if page.code %}
    <script>
      const preTags = Array.from(document.getElementsByTagName('pre'));
      preTags.forEach((i, block) => {
        hljs.highlightBlock(i);
      });
    </script>
  {% endif %}
</body>
</html>
