<div class="navbr navbr-primary">
  <a href="/">@siva</a>
</div>

<div class="navbr navbr-secondary">
  {% if page and page.tags %}
    {% if page.date %}
      {{page.date}} - 
    {% endif %}
    Tagged
    {% for tag in page.tags.split(',') %}
      &nbsp;&nbsp;-<a href="/tag/{{tag.strip()}}/">&nbsp;&nbsp;{{tag}}</a>
    {% endfor %}
  {% else %}
    <a href="/about/">About Me</a>
  {% endif %}
</div>
