<!DOCTYPE html>

<html lang="en">
<head>
  <title>@siva | List of posts tagged {{ tag }}</title>
  {% include "head.html" %}
</head>

<body>
  <div class="content hero hero-page">
    {% include "navbar.html" %}

    <div class="helloWorld">
      <div class="hello hello-post">
        <div class="taglistem">Posts tagged {{tag}}</div>
      </div>
    </div>
  </div>

  <div class="container posts">
    <div class="content">
      {% for page in pages|sort(attribute='order', reverse=True) %}
        {% for pageTag in page.tags.lower().split(',') %}
          {% if pageTag.strip() == tag.lower() %}
            <div>
              <a href="{{ url_for("page", path=page.path) }}">{{page.title}}</a>
              <span class="language">
                {% for pageTag in page.tags.split(',') %}
                  <a href = "/tag/{{ pageTag.strip() }}">&nbsp;&nbsp;{{pageTag}}</a>
                {% endfor %}
              </span><br>
              {{page.description}}
              <hr>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  {% include "footer.html" %}
</body>
</html>
